* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #111;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    height: 3cm;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* прозорий чорний */
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3cm; /* відступи зліва і справа */
  }
  
  .main-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }