body {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Krona One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  p,
  a,
  button,
  input,
  textarea {
    font-family: inherit;
  }