button,
input[type="submit"] {
  background-color: #a29ea3;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #c0bcab;
  color: #111;
}
.main__btn {
  font-size: 20px;
  padding: 12px 32px;
  background-color: #e0ddd0;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(255, 153, 0, 0.5), 0 0 10px rgba(229, 224, 201, 0.4);
  transition: 0.3s ease;
  margin-top: 20px;
  display: inline-block;
}
.main__btn:hover {
  background-color: #e1dac0;
  color: #111;
  transform: scale(1.05);
}