.image-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    align-items: center;
    justify-content: center;
  }
  
  .image-modal__content {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 12px;
    animation: zoom 0.3s ease-in-out;
    object-fit: contain;
  }
  
  .image-modal__close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #ffcc00;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }