body {{
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  position: relative;
}

.logo-container img {
  width: 300px;
}